<div class="container">
  <div class="row">
    <div class="col-md-6 hidden-sm hidden-xs"><span class="h2">Find a Hack Event</span></div>
    <div class="clearfix visible-sm-block visible-xs-block"></div>
    <div class="col-md-6">
      <div class="pull-right">
        <button class="btn btn-default" ng-click="openEventModal()"><i class="fa fa-plus"></i>&nbsp;&nbsp;New Event</button>
      </div>
    </div>
  </div>

  <div class="loading panel panel-default" ng-show="eventsLoading">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <div class="col-md-8">
        <h2>Events Loading</h2>
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Organizer</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class="event-row" ng-repeat="event in events" ng-click="navigateToEvent(event.$id)">
        <td>{{event.name}}</td>
        <td>{{event.location}}</td>
        <td>@{{event.organizer}}</td>
        <td>{{event.date}}</td>
      </tr>
    </tbody>
  </table>

  <!-- <div ng-repeat="event in events">
    <h4><a ng-href="/events/{{event.$id}}">{{event.name}}</a></h4>
  </div> -->
</div>
