<div>
  <div class="modal-header">
    <h3 class="modal-title">Submit New Idea</h3>
  </div>
  <form class="form" ng-submit="saveProject($event)">
    <div class="modal-body">
      <!-- Used to display errors returned by the API. -->
      <div class="alert alert-danger" role="alert" ng-show="errors">
        <ul>
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="name" ng-model="project.title" autocomplete="off" required>
      </div>
      <div class="form-group">
        <label for="title">Phase</label>
        <select class="form-control" ng-options="phase for phase in phases" ng-model="project.phase" required></select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" ng-model="project.description" required></textarea>
      </div>
      <div class="form-group">
        <label for="hashtags">Hashtags</label>
        <input type="text" class="form-control" name="hashtags" ng-model="project.hashtags" required>
        <p class="help-block">Enter tags seperated by spaces, i.e. "#angular #spa"</p>
      </div>
    </div>
    <div class="modal-footer">
      <i class="fa fa-spinner fa-spin fa-2x" ng-show="projectSaving"></i>
      <button class="btn btn-primary" type="submit" ng-disabled="projectSaving">Save</button>
      <button class="btn btn-warning" type="button" ng-click="modalInstance.dismiss('cancel')">Cancel</button>
    </div>
  </form>
</div>
